/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}

html {
    font-size: 16px;
    font-family: "Roboto";
    box-sizing: border-box;
}
body {
    line-height: 1;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.container {
    background: #f5f5f5;
     box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.12), inset 0px 4px 8px rgba(0, 0, 0, 0.12), inset 0px 8px 16px rgba(0, 0, 0, 0.12), inset 0px 16px 32px rgba(0, 0, 0, 0.16);
    
}
.services {
    max-width: 1020px;
    height: 1050px;
    left: 210px;
    top: 2690px;
    margin: 0 auto;
    
}
.header {
    width: 583px;
    height: 134px;
    display: inline-block;
    margin: 30px 0px 0px 0px;
}
.icon {
    display: inline-block;
    padding: auto;
    line-height: 24px;
}
.logo {
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5d62b5;
    display: inline-block;
    padding: 0px 0px 0px 3px;
}
.title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.cards {
    margin: 0px 0px 69px 0px;
}

.cards__card {
    display: inline-block;
    margin: 0px 20px 20px 0px;
    padding: 50px 44px;
    width: 220px;
    height: 250px;
    border-radius: 25px;
    background-color: white;
}

.cards__card:hover {
    box-shadow: 0px 4px 10px black;
}
.cards__image {
    display: inline-block;
    margin: 0px 0px 20px 80px;
}
.cards__title {
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #f2726f;
    margin: 0px 0px 20px 0px;
}
.cards__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    margin: 0px 0px;
}

.footer__button {
    background: #f2726f;
    border-radius: 8px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.15px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: 145px;
    height: 25px;
    margin: 0px 700px 0px 400px;
    display: inline-block;
}

.footer__button:hover{
    box-shadow: 0px 4px 10px black;
}
